:host{
    display: flex;
    justify-content: center;
    position: relative;

    .campaigns-container {
        display: flex;
        flex-direction: column;
        width: 50vw;

        .search-content {
            height: 10vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            input[type=text] {
                height: 32px;
                width: 24vw;
                border-radius: 8px;
                border: 1px solid #cdcdcd;
                box-sizing: border-box;
                padding: 4px;
                font-size: 14px;
                &:focus {
                    outline: none;
                }
            }

            .select-box {
                margin: 0 0 0 60px;
                select {
                    font-size: 16px;
                    background-color: #fff;
                    border-radius: 8px;
                    border: 1px solid #cdcdcd;
                    height: 32px;
                    outline: none;
                }
            }

            
        }

        .campaigns-list {
            height: 80vh;
            width: 100%;
            overflow: auto;

            app-campaign-list-item {
                margin: 0 12px 0 0;
            }
            
        }
    }

    .modal-container {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .modal-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 30vh;
            width: 30vw;
            border: 1px solid #000;
            border-radius: 4px;
            padding: 12px;
            position: relative;
            background-color: rgba(119, 119, 119, 0.637);
            box-shadow: 3px 5px 7px #00000085;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 30vh;

                input[type=text], textarea, button {
                    width: 300px;
                    border: 1px solid #cdcdcd;
                    border-radius: 4px;
                    padding: 4px;
                    font-size: 14px;
                    &:focus {
                        outline: none;
                    }
                }
    
             
                input[type=text] {
                    height: 32px;
                }
                textarea {
                    resize: none;
                }
                .update-button{
                    height: 34px;
                    user-select: none;
                }
            }
            .close-button {
                position: absolute;
                right: 10px;
                top: 4px;
                span {
                    font-weight: 600;
                    cursor: default;
                }
            }

        }
    }

    .disabled {
        display: none;
    }
}